<form class="" name="myForm" [formGroup]="myform" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper labelPosition="bottom" [linear]="true">
    <mat-step label="Step 1">
      <div formGroupName="firstForm">
        <!-- ------------Name field ------------>

        <div class="mb-3 mt-3">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter name"
            name="name"
            formControlName="name"
          />
        </div>
        <span
          class="text-danger"
          *ngIf="
            !myform.get('firstForm.name').valid &&
            myform.get('firstForm.name').touched
          "
        >
          Name is required
        </span>

        <!-------------Email filed------------->

        <div class="mb-3 mt-3">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
            formControlName="email"
          />
        </div>
        <span
          class="text-danger"
          *ngIf="
            !myform.get('firstForm.email').valid &&
            myform.get('firstForm.email').touched
          "
        >
          Email is required
        </span>

        <!-------------Gender filed------------->

        <div>
          <label for="Gender">Gender:</label>
        </div>

        <div class="form-check" *ngFor="let gender of genders">
          <input
            type="radio"
            class="form-check-input"
            name="gender"
            id="radio2"
            [value]="gender"
            formControlName="gender"
          />{{ gender }}
          <label class="form-check-label" for="radio2"></label>
        </div>

        <!-------------Date of birth filed------------->

        <div class="col-5 mb-3 mt-3">
          <label for="name">Date of birth:</label>
          <input
            class="form-control"
            type="date"
            name="dob"
            formControlName="dob"
          />
        </div>
        <span
          class="text-danger"
          *ngIf="
            !myform.get('firstForm.dob').valid &&
            myform.get('firstForm.dob').touched
          "
        >
          Date of birth is required
        </span>

        <div class="offset-5">
          <button
            type="button"
            class="btn btn-danger mx-3"
            mat-button
            matStepperNext
            [disabled]="!myform.get('firstForm').valid"
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>

    <!-----------------------------------Second step----------------------------------->

    <mat-step label="Step 2" formGroupName="secondForm">
      <!-------------Profile Picture------------->

      <div class="col-5 mb-3 mt-3">
        <label for="name">Profile picture:</label>
        <input
          type="file"
          class="form-control"
          name="profile"
          formControlName="profile"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          !myform.get('secondForm.profile').valid &&
          myform.get('secondForm.profile').touched
        "
      >
        Profile is required
      </span>

      <!-------------Hobbies filed------------->

      <div class="form-control mb-3 mt-3">
        <div class="d-inline-flex mx-2">
          <label for="hobbies">Hobbies:</label>
        </div>
        <div
          class="form-check d-inline-flex mx-2"
          *ngFor="let hobby of hobbies; let i = index"
          formGroupName="hobbies"
        >
        <input
            type="checkbox"
            class="form-check-input"
            id="hobbies"
            value="{{hobby.name}}"
            [checked]="hobby.selected"
            (change)="hobbySelect($event)"
          />
          <label class="form-check-label" for="check1">{{ hobby.name }}</label>
        </div>
      </div>

      <!-------------Phone filed------------->

      <div class="mb-3 mt-3">
        <label for="phone">Phone:</label>
        <input
          type="phone"
          class="form-control"
          placeholder="123-123-1234"
          formControlName="phone"
          id="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
        />
      </div>
      <span
        class="text-danger"
        *ngIf="
          !myform.get('secondForm.phone').valid &&
          myform.get('secondForm.phone').touched
        "
      >
        Phone number is required
      </span>

      <div class="offset-4">
        <button
          type="button"
          class="btn btn-warning"
          mat-button
          matStepperPrevious
        >
          Previous
        </button>
        <button
          type="button"
          class="btn btn-danger mx-3"
          mat-button
          matStepperNext
          [disabled]="!myform.get('secondForm').valid"
        >
          Next
        </button>
      </div>
    </mat-step>

    <!--------------------------------Third step------------------------------------>


    <mat-step label="Step 3" formGroupName="thirdForm">
    
      <!-------------Qualification filed------------->

      <label for="Qualification">Qualification:</label>
      <div class="mb-3 mt-3">
        <ng-multiselect-dropdown
          [settings]="dropdownSettings"
          [data]="dropdownList"
          formControlName="qualification"
          required
        >
        </ng-multiselect-dropdown>
      </div>
      <span
        class="text-danger"
        *ngIf="
          !myform.get('thirdForm.qualification').valid &&
          myform.get('thirdForm.qualification').touched
        "
      >
        Qualification is required
      </span>

      <!-------------Profession filed------------->

      <div class="mb-3 mt-3">
        <label for="profession" class="form-label">Profession:</label>
        <select
          class="form-select"
          id="profession"
          formControlName="profession"
          required
        >
          <option>Software engineer</option>
          <option>Doctor</option>
          <option>Fire fighter</option>
          <option>Accountant</option>
          <option>Sales man</option>
          <option>Teacher</option>
        </select>
      </div>

      <span
        class="text-danger"
        *ngIf="
          !myform.get('thirdForm.profession').valid &&
          myform.get('thirdForm.profession').touched
        "
      >
        Profession is required
      </span>

      <!-------------description filed------------->

      <div class="mb-3 mt-3">
        <label for="description">Short Description:</label>
        <textarea
          class="mb-3 mt-3"
          formControlName="description"
          id="shortDes"
          cols="70"
          placeholder="Write a short description about yourself"
          rows="3"
        ></textarea>
      </div>

      <span
        class="text-danger"
        *ngIf="
          !myform.get('thirdForm.description').valid &&
          myform.get('thirdForm.description').touched
        "
      >
        Description is required
      </span>

      <section *ngFor="let person of control; let i = index" formArrayName="contactPerson">
        <!-- input fields inside the *ngFor -->
        <div [formGroupName]="i">
        <div class="col-4 d-inline-block" >
          <label>Name</label>
          <input class="form-control" 
          type="text" 
          name="contactPersonName" 
          formControlName="contactPersonName"
          />
        </div>
        <div class="col-3 d-inline-block mx-4 my-3">
          <label>Phone</label>
          <input
            type="phone"
            class="form-control"
            name="contactPersonPhone"
            formControlName="contactPersonPhone"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          />
        </div>
        </div>
        <button type="button" class="btn btn-danger" (click)="removePerson(i)">
          Remove
        </button>
      </section>
      <button type="button" class="btn btn-primary mb-2" (click)="addPerson()">
        Add Contact person
      </button>

      <div class="offset-5">
        <button
          type="button"
          class="btn btn-warning"
          mat-button
          matStepperPrevious
        >
          Previous
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="form-group">
    <input
      type="submit"
      [disabled]="myform.invalid"
      id="submit"
      value="Sign up"
      class="btn btn-primary align-right"
    />
  </div>
</form>
